@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
html {
  overflow-x: hidden;
}

:root {
  --header-offset: 100px; /* если есть фиксированный header, иначе 0px */
}

html {
  scroll-behavior: smooth;
}

body {
  background: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-size: 38px;
  color: #101010;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  margin-bottom: 0;
}

a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

a:hover {
  text-decoration: none;
}

a a:focus {
  outline: none;
}

p {
  font-weight: 400;
  font-family: "Inter", sans-serif;
  margin: 0;
  font-size: 14px;
  color: #101010;
  line-height: normal;
}

ul,
ol {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

ul li,
ol li {
  list-style: none;
}

a:not([href]):not([tabindex]) {
  color: #fff;
}

.section-header {
  margin-bottom: 30px;
}

.section-header p {
  text-align: center;
  font-weight: 400;
  line-height: 26px;
}

.section-title {
  font-size: 30px;
  display: inline-block;
  position: relative;
}

.padding-none {
  padding: 0px;
}

.bg-gray {
  background: #f9f9f9;
}

.btn {
  font-size: 16px;
  padding: 0 24px;
  cursor: pointer;
  font-weight: 400;
  color: #101010;
  border-color: #5f5f5f;
  border-radius: 12px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: inline-block;
}

.btn:focus,
.btn:active {
  box-shadow: none;
  outline: none;
}

.btn-collback {
  height: 40px;
  font-weight: 600;
  display: flex;
  padding: 0 16px;
  align-items: center;
}

.btn-common {
  background-color: transparent;
  height: 56px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: fit-content;
  position: relative;
  z-index: 1;
}

.btn-border {
  color: #1970ff;
  background-color: transparent;
  border: 1px solid #1970ff;
  border-radius: 30px;
  text-transform: uppercase;
}

.btn-border:hover {
  color: #fff;
  border-color: #1970ff;
  background-color: #1970ff;
}

.btn-border:focus {
  color: #fff;
  border-color: #1970ff;
  background-color: #1970ff;
}

.btn-lg {
  padding: 14px 33px;
  text-transform: uppercase;
  font-size: 16px;
}

.btn-rm {
  padding: 7px 18px;
  text-transform: capitalize;
}

button:focus {
  outline: none !important;
}

.icon-close,
.icon-check {
  color: #1970ff;
}

.mobile-menu-item {
  display: flex;
  gap: 16px;
}

.mobile-menu-footer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.social-icons {
  display: flex;
  gap: 16px;
}

.social-icon a {
  color: #666;
  background: #fff;
  width: 32px;
  height: 32px;
  line-height: 34px;
  display: inline-block;
  text-align: center;
  border-radius: 100%;
  font-size: 16px;
  margin: 15px 6px 12px 4px;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.social-icon a:hover {
  color: #fff !important;
}

.social-icon .facebook:hover {
  background: #3b5999;
}

.social-icon .twitter:hover {
  background: #4a9cec;
}

.social-icon .instagram:hover {
  background: #d6274d;
}

.social-icon .linkedin:hover {
  background: #1260a2;
}

.social-icon .google:hover {
  background: #ce332a;
}

.section-padding {
  padding: 60px 0;
}

hr {
  border-top: 1px dotted #ddd;
}

.wave-img {
  content: url("../img/wave.svg");
}
.text-wrapper {
  height: 100%;
  display: table;
  padding-left: 140px;
}

.text-wrapper > div {
  vertical-align: middle;
  display: table-cell;
}

/* Achievements Item */
.achievements-item {
  background: #fff;
  padding: 32px 24px;
  border-radius: 20px;
  border: 1px solid #eaeaea;
  position: relative;
  max-width: 400px;
  width: 100%;
}

.achievement-content {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.achievements-text p {
  font-size: 32px;
  max-width: 1008px;
}

.corner-icon {
  position: absolute;
  top: 0;
  right: 0;
}

.achievements-text {
  display: flex;
  justify-content: center;
}

.achievements-item h3 {
  font-size: 80px;
}

.achievements-items {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.achievements-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.achievements-item p {
  font-size: 22px;
  font-weight: 700;
}

.achievements-padding {
  padding: 115px 0 115px;
}

#achievements {
  position: relative;
}

.navbar-brand {
  position: relative;
  padding: 0px;
}

.top-nav-collapse {
  background: #fff;
  z-index: 999999;
  top: 0px !important;
  box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  background: #fff !important;
}

.top-nav-collapse .navbar-brand {
  top: 0px;
}

.top-nav-collapse .navbar-nav .nav-link {
  color: #101010 !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.navbar-nav {
  gap: 16px;
}

.mobile-menu-close {
  display: none;
}

.top-nav-collapse .navbar-nav .nav-link:hover {
  cursor: pointer;
  color: #1970ff !important;
}

.top-nav-collapse .navbar-nav li.active a.nav-link {
  color: #1970ff !important;
}

.indigo {
  background: transparent;
}

.menu-bg {
  background: transparent;
}

.navbar-expand-md .navbar-nav .nav-link {
  font-family: "Inter", sans-serif;
  color: #101010;
  font-weight: 400;
  padding: 8px 10px;
  line-height: 40px;
  cursor: pointer;
  background: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar-expand-md .navbar-nav .active > .nav-link,
.navbar-expand-md .navbar-nav .nav-link.active,
.navbar-expand-md .navbar-nav .nav-link.open,
.navbar-expand-md .navbar-nav .open > .nav-link {
  color: #1970ff !important;
}

.navbar {
  padding: 0;
  background: #fff;
  border-bottom: 1px solid #eaeaea;
}

.mobile-menu-footer {
  display: none;
}

.mobile-menu-footer p {
  font-size: 16px;
  color: #101010;
}

.header-item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.top-header {
  height: 32px;
  background: #f8f8f8;
  display: flex;
}

.top-header a {
  display: flex;
  gap: 8px;
  color: #101010;
  font-size: 14px;
}

.navbar li.active a.nav-link {
  color: #1970ff;
}

.menu-white .navbar-nav .nav-link {
  color: #fff;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  z-index: 99;
  min-width: 210px;
  background-color: #fff;
  white-space: nowrap;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  animation: fadeIn 0.4s;
  -webkit-animation: fadeIn 0.4s;
  -moz-animation: fadeIn 0.4s;
  -o-animation: fadeIn 0.4s;
  -ms-animation: fadeIn 0.4s;
}

.dropdown-menu:before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 100%;
  left: 20%;
  margin-left: -5px;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #fff;
}

.dropdown:hover .dropdown-menu {
  display: block;
  position: absolute;
  text-align: left;
  top: 100%;
  border: none;
  animation: fadeIn 0.4s;
  -webkit-animation: fadeIn 0.4s;
  -moz-animation: fadeIn 0.4s;
  -o-animation: fadeIn 0.4s;
  -ms-animation: fadeIn 0.4s;
}

.dropdown .dropdown-menu .dropdown-item {
  width: 100%;
  padding: 10px 20px;
  font-size: 14px;
  color: #333;
  border-bottom: 1px solid #f1f1f1;
  text-decoration: none;
  display: inline-block;
  clear: both;
  position: relative;
  outline: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.dropdown .dropdown-menu .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.dropdown .dropdown-menu .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.dropdown .dropdown-item:focus,
.dropdown .dropdown-item:hover,
.dropdown .dropdown-item.active {
  color: #1970ff;
  background: #f7f7f7;
}

.dropdown-item.active,
.dropdown-item:active {
  background: transparent;
}

.fadeInUpMenu {
  -webkit-animation-name: fadeInUpMenu;
  animation-name: fadeInUpMenu;
}

/* ==========================================================================
3. Hero Area
========================================================================== */
#hero-area {
  color: #fff;
  overflow: hidden;
  position: relative;
}

#hero-area .contents {
  padding: 130px 0px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

#hero-area .contents .head-title {
  font-size: 56px;
  line-height: normal;
  max-width: 985px;
}

#hero-area .contents .head-description {
  font-size: 22px;
}

.owl-pagination {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -40px;
}

.owl-carousel .owl-dots {
  text-align: center;
  margin-top: 20px;
}

.owl-carousel button.owl-dot {
  display: inline-block;
  zoom: 1;
  display: inline;
  text-align: center;
}

.owl-carousel button.owl-dot span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 2px 4px;
  filter: alpha(opacity=50);
  opacity: 1;
  border-radius: 30px;
  background: #fff;
  border: 2px solid #fff;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.owl-carousel button.owl-dot.active span,
.owl-carousel button.owl-dot.clickable,
.owl-carousel button.owl-dot:hover span {
  background: #1970ff;
}

.slick-slider {
  padding: 80px 0;
}

.slider-center img {
  opacity: 0.7;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  padding: 63px 63px;
  position: relative;
  text-align: center;
}

.slider-center .slick-center img {
  -moz-transform: scale(1.9);
  -ms-transform: scale(1.9);
  -o-transform: scale(1.9);
  -webkit-transform: scale(1.9);
  opacity: 1;
  transform: scale(1.9);
}

.form-control {
  width: 100%;
  margin-bottom: 20px;
  font-size: 14px;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  padding: 8px 20px;
  border: 1px solid #f7f7f7;
}

.form-control:focus {
  border-color: #1970ff;
  box-shadow: none;
  outline: none;
}

textarea {
  border-radius: 4px !important;
}

.form-control:focus {
  box-shadow: none;
  outline: none;
}

.btn.disabled,
.btn:disabled {
  opacity: 1;
}

.text-danger {
  font-size: 14px;
  margin-top: 10px;
}

.list-unstyled li {
  color: #d9534f;
}

.partners-area {
  padding: 15px 0;
  overflow: hidden;
}

.carousel-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel-track {
  display: flex;
  align-items: center;
  width: fit-content;
  animation: scroll 30s linear infinite;
}

.item {
  flex: 0 0 auto;
  margin: 0 30px;
}

.item img {
  width: auto;
  object-fit: contain;
  display: block;
  max-height: 60px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.container-cases {
  border-radius: 100px;
  padding: 100px 56px;
  background: #002a6f;
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.section-title h3 {
  font-size: 46px;
  color: #fff;
  width: 521px;
}

.container-cases .section-title {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.section-title p {
  font-size: 28px;
  color: #fff;
  max-width: 684px;
}

.cases-button {
  display: flex;
  justify-content: center;
}

.images-cases {
  border-radius: 20px;
}

.img-gallery {
  height: 300px;
  max-height: 380px;
  border-radius: 20px;
  object-fit: cover;
}
.case-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.case-item h3 {
  font-size: 24px;
  color: #fff;
}

.case-item p {
  font-size: 16px;
  color: #fff;
  line-height: 22px;
}

.cases-button a {
  gap: 10px;
  padding: 16px 24px;
  background: #fff;
  color: #101010;
  border-radius: 12px;
  border: none;
}

.services-padding {
  padding: 60px 56px;
}

.service-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.service-header h3 {
  font-size: 46px;
}

.service-header p {
  font-size: 28px;
  max-width: 632px;
}

.services-items {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.service-content {
  display: flex;
  gap: 16px;
}

.services-item {
  background: #f8f8f8;
  padding: 16px;
  gap: 16px;
  border-radius: 16px;
  display: flex;
}

.services-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.services-content h3 {
  color: #1970ff;
  font-size: 18px;
}

.services-content p {
  color: #5f5f5f;
  font-size: 16px;
  line-height: 22px;
  max-width: 336px;
}

.services-item img {
  width: 48px;
  height: 48px;
}

.mobile-br {
  display: none;
}

.owl-nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  pointer-events: none; /* чтобы клики шли только на стрелки */
}

.owl-nav button {
  background: black !important;
  border-radius: 20px;
  width: 32px;
  height: 32px;
  border: none;
  pointer-events: all;
  cursor: pointer;
}

.technology-padding,
.testimonials-padding,
.footer-area {
  padding: 56px;
}
.team-padding {
  padding: 56px 56px 0;
}
.technology-header,
.team-header {
  display: flex;
  justify-content: space-between;
}

.technology-header h3,
.team-header h3,
.testimonials-header h3 {
  font-size: 46px;
  max-width: 300px;
}

.technology-header p,
.team-header p {
  font-size: 28px;
  max-width: 600px;
  text-align: left;
}

.technology-items,
.team-items,
.testimonials-items {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.accordion-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.accordion-body .tech-tags:last-of-type {
  padding-bottom: 16px;
}

.accordion-header {
  cursor: pointer;
  position: relative;
  padding: 16px 0;
  font-size: 32px;
  border-top: 1px solid #ddd;
}

.technology-item:last-child .accordion-header {
  border-bottom: 1px solid #ddd;
}

.accordion-header::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 14px;
  height: 14px;
  background-image: url("../img/accordion-arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateY(-50%) rotate(0deg);
  transition: transform 0.6s ease;
}
.accordion-header.active::after {
  transform: rotate(180deg);
}

.tech-block h4 {
  font-size: 18px;
  color: #5f5f5f;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.tech-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.tech-tags span {
  border: 1px solid #101010;
  padding: 0 14px;
  height: 40px;
  border-radius: 50px;
  font-size: 16px;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.technology-button a,
.team-button a,
.btn-common {
  gap: 10px;
  padding: 16px 24px;
  color: #fff;
  background: #101010;
  border-radius: 12px;
  border: none;
}

.technology-button,
.team-button {
  display: flex;
  justify-content: center;
}

.team-padding {
  background: #f8f8f8;
}

.team-card,
.testimonial-card {
  padding: 24px;
  border-radius: 20px;
  border: 1px solid #eaeaea;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 24px;
  transition: border 0.3s ease;
}

.testimonial-card.expanded {
  border: 1px solid #000;
}

.team-card-person,
.team-card-projects,
.testimonial-card-person {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.team-card-person h3 {
  font-size: 22px;
}

.team-card-person p {
  font-size: 18px;
}

.testimonial-card-person p.name-person {
  font-weight: 600;
}

.testimonial-card-person p.position-person {
  font-weight: 600;
  font-size: 14px;
  color: #5f5f5f;
}

.team-card-projects p {
  font-size: 16px;
  color: #686868;
  max-width: 370px;
}

.team-card-projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.team-card-projects-list span {
  border: 1px solid #101010;
  padding: 0 14px;
  height: 40px;
  border-radius: 50px;
  font-size: 16px;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.testimonial-company-name h3 {
  font-size: 16px;
  font-weight: 600;
  color: #5f5f5f;
}

.testimonial-card {
  gap: 16px;
}

.testimonial-text-card p {
  color: #686868;
  font-size: 16px;
  line-height: 22px;
}
.testimonial-text-card {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* кол-во строк по умолчанию */
  -webkit-box-orient: vertical;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}
.testimonial-text-card.expanded {
  -webkit-line-clamp: unset;
  max-height: none;
}

.testimonial-text-card.expanded::after {
  content: none;
}

.callback-padding {
  padding: 0 56px;
}

.callback-body {
  position: relative;
  padding: 100px;
  background: #002a6f;
  border-radius: 100px;
  overflow: hidden;
}

.callback-image {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 400px;
}

.callback-info h3 {
  font-size: 46px;
  color: #fff;
  max-width: 570px;
  line-height: normal;
}

.callback-info {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 547px;
}

.form-group,
.form-control,
label {
  margin-bottom: 0;
}

.form-group-grouped {
  display: flex;
  gap: 16px;
}

.form-control {
  height: 48px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #b3b3b3;
  color: #101010;
}

.inputs-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.callback-form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.form-group-grouped input {
  width: 265px;
  padding: 0 16px;
}

.checkbox-group label {
  font-size: 12px;
  color: #fff;
}

.checkbox-group label a {
  color: #fff;
  text-decoration: underline;
}

.callback-button {
  background: #fff;
  color: #101010;
}

.checkbox-group label {
  cursor: pointer;
  position: relative;
  padding-left: 28px;
  user-select: none;
}

.checkbox-group input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-group label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 18px;
  height: 18px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  background-color: transparent;
  box-sizing: border-box;
  transition: all 0.2s ease;
}

.checkbox-group input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 6px;
  width: 6px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkbox-group a {
  color: #e1e1e1;
  text-decoration: underline;
}

.agreement-btn {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.callback-image-mobile {
  display: none;
}

.footer-area {
  display: flex;
  gap: 80px;
  font-size: 14px;
  line-height: 20px;
}

.footer-area h3 {
  font-size: 14px;
  line-height: 20px;
}

address {
  margin-bottom: 0;
}

address,
span {
  color: #101010;
}

.footer-about,
.footer-links,
.footer-documents,
.footer-contacts,
.footer-list,
.head-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-about {
  justify-content: space-between;
}

.desktop-none {
  display: none;
}

.footer-about img {
  max-width: 200px;
}

.footer-about {
  max-width: 375px;
}

.footer-area a {
  color: #101010;
}

.footer-icon {
  display: flex;
  gap: 16px;
}

.pt-16 {
  padding-top: 16px;
}
